.slick-prev, .slick-next {
  display: none !important;
}

.formContainer {
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100vw;
}
.formContainer .progressBar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 3px;
  background-color: transparent;
}
.formContainer .progressBar__progression {
  width: 0%;
  background-color: #e77810;
  height: 100%;
  transition: width 0.4s;
}
.formContainer .sliderWrapper {
  min-height: 100vh;
  position: relative;
  display: grid;
  width: 100%;
}
.formContainer .sliderWrapper .Form-step-container {
  height: -moz-fit-content;
  height: fit-content;
}
.formContainer .sliderWrapper .Form-step-container .stepBody {
  min-height: 73vh;
  width: 100%;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .ilustrationContainer {
  margin-top: 10vh;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .ilustrationContainer .ilustration {
  width: 100px;
  height: 100px;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .Form {
  color: #292c31;
  max-height: 60vh;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .Form .inputWrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .Form .inputWrapper .inputIcon {
  opacity: 70%;
  position: absolute;
  left: 14px;
  width: 22px;
  height: 22px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .Form .inputWrapper select {
  width: 100%;
  height: 40px;
  border: 1px solid #89919d;
  border-radius: 30px;
  background-color: transparent;
  text-indent: 15%;
  font-size: 1.2em;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .Form .inputWrapper select:focus {
  outline: none;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .Form .inputWrapper input {
  width: 100%;
  height: 40px;
  border: 1px solid #89919d;
  border-radius: 30px;
  background-color: transparent;
  text-indent: 15%;
  font-size: 1.2em;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .Form .inputWrapper input:focus {
  outline: none;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form {
  width: 80%;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label {
  position: relative;
  margin-bottom: 25px;
  /* active state */
  /* highlighter */
  /* active state */
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .plusButton {
  position: absolute;
  border-radius: 50px;
  aspect-ratio: 1/1;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.062745098);
  top: 0px;
  z-index: 3;
  right: 0px;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .lessButton {
  position: absolute;
  border-radius: 50px;
  aspect-ratio: 1/1;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.062745098);
  top: 0px;
  left: 0px;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-input, .formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-select {
  position: relative;
  font-size: 14px;
  padding: 4px 4px;
  display: block;
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #292c31;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label #comensalesInput {
  text-align: center;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-input:required ~ label::after {
  content: " *";
  color: red;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-input:focus, .formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-select:focus {
  outline: none;
  border-bottom: 2px solid #e77810;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label label {
  display: block;
  color: #292c31;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-input:not(:-moz-placeholder-shown) ~ label {
  top: -18px;
  font-size: 14px;
  color: #e77810;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-input:focus ~ label, .formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-input:not(:placeholder-shown) ~ label {
  top: -18px;
  font-size: 14px;
  color: #e77810;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-select:focus ~ label, .formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-select:not([value=""]):valid ~ label {
  top: -18px;
  font-size: 14px;
  color: #e77810;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-input:focus ~ .bar:before, .formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-input:focus ~ .bar:after, .formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-select:focus ~ .bar:before, .formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-select:focus ~ .bar:after {
  width: 50%;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label *, .formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label *:before, .formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label *:after {
  box-sizing: border-box;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-textarea {
  min-height: 30px;
  max-height: 260px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 15%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-input:focus ~ .highlight, .formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .floating-label .floating-select:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .AditionalInfo p {
  font-size: 0.7rem;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .formDetails .floating-form .AditionalInfo p::after {
  content: " *";
  color: red;
}
.formContainer .sliderWrapper .Form-step-container .nextStepButton {
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fbf9f9;
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  padding: 10px;
  margin: 20px auto 5vh auto;
  border-radius: 40px;
  background-color: #e77810;
  cursor: pointer;
}
.formContainer .sliderWrapper .Form-step-container .nextStepButton.disabled {
  opacity: 70%;
}
.formContainer .sliderWrapper .previousStepButton {
  position: absolute;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.062745098);
  background-size: calc(100% - 10px);
  background-repeat: no-repeat;
  background-position: center;
  top: 14px;
  background-image: url("/img/icons/arrow-left.svg");
  background-position: 3px center;
  left: 10px;
}
.formContainer .sliderWrapper .ShopLogo {
  position: absolute;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.062745098);
  background-size: calc(100% - 10px);
  background-repeat: no-repeat;
  background-position: center;
  top: 14px;
  background-size: cover;
  background-image: url("/img/reserv.png");
  right: 10px;
}
.formContainer .sliderWrapper .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}
.formContainer .sliderWrapper .footer p {
  color: #292c31;
  opacity: 40%;
  margin: 0px 5px;
  font-size: 10px;
}
.formContainer .sliderWrapper .footer p .linkalike {
  color: #e77810;
  text-decoration: none;
  cursor: pointer;
}
.formContainer .sliderWrapper .footer p .linkalike:hover {
  text-decoration: underline;
}

/****  floating-Lable style start ****/
/* animation */
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}/*# sourceMappingURL=Style.css.map */