.slick-prev, .slick-next {
  display: none !important;
}

.formContainer {
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100vw;
}
.formContainer .sliderWrapper {
  min-height: 100vh;
  position: relative;
  display: grid;
  width: 100%;
}
.formContainer .sliderWrapper .Form-step-container {
  height: -moz-fit-content;
  height: fit-content;
}
.formContainer .sliderWrapper .Form-step-container .stepBody {
  min-height: 73vh;
  width: 100%;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .BodyHeader {
  height: 10vh;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .ilustrationContainer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .ilustrationContainer .ilustration {
  width: 100px;
  height: 100px;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .Form {
  color: #292c31;
  max-height: 60vh;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .Form .inputWrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .Form .inputWrapper .inputIcon {
  opacity: 70%;
  position: absolute;
  left: 14px;
  width: 22px;
  height: 22px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .Form .inputWrapper select {
  width: 100%;
  height: 40px;
  border: 1px solid #89919d;
  border-radius: 30px;
  background-color: transparent;
  text-indent: 15%;
  font-size: 1.2em;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .Form .inputWrapper select:focus {
  outline: none;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .Form .inputWrapper input {
  width: 100%;
  height: 40px;
  border: 1px solid #89919d;
  border-radius: 30px;
  background-color: transparent;
  text-indent: 15%;
  font-size: 1.2em;
}
.formContainer .sliderWrapper .Form-step-container .stepBody .BodyWrapper .Form .inputWrapper input:focus {
  outline: none;
}
.formContainer .sliderWrapper .Form-step-container .nextStepButton {
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fbf9f9;
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  padding: 10px;
  margin: auto;
  border-radius: 40px;
  background-color: #e77810;
  cursor: pointer;
}
.formContainer .sliderWrapper .Form-step-container .nextStepButton.disabled {
  opacity: 70%;
}
.formContainer .sliderWrapper .previousStepButton {
  position: absolute;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.062745098);
  background-size: calc(100% - 10px);
  background-repeat: no-repeat;
  background-position: center;
  top: 14px;
  background-image: url("/img/icons/arrow-left.svg");
  background-position: 3px center;
  left: 10px;
}
.formContainer .sliderWrapper .ShopLogo {
  position: absolute;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.062745098);
  background-size: calc(100% - 10px);
  background-repeat: no-repeat;
  background-position: center;
  top: 14px;
  background-size: cover;
  background-image: url("/img/reserv.png");
  right: 10px;
}
.formContainer .sliderWrapper .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}
.formContainer .sliderWrapper .footer p {
  color: #292c31;
  opacity: 40%;
  margin: 0px 5px;
  font-size: 10px;
}
.formContainer .sliderWrapper .footer p .linkalike {
  color: #e77810;
  text-decoration: none;
  cursor: pointer;
}
.formContainer .sliderWrapper .footer p .linkalike:hover {
  text-decoration: underline;
}/*# sourceMappingURL=Style.css.map */